<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p>Something went wrong. This site can't be reached.</p>
    <hr>
    <p class="mb-0">
        <a asp-controller="Home" asp-action="Index" class="btn btn-success badge-pill">Go Back</a>
    </p>
</div>