@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Go Administration Area Dashboard Controller</a>
</div>

<div>
    <a asp-area="Administration" asp-controller="Coaches" asp-action="Index">Go Administration Area Coaches Controller</a>
</div>

<div>
    <a asp-area="Coach" asp-controller="Test" asp-action="Index">Go Coach Area Test Controller</a>
</div>

<div>
    <a asp-area="Administration" asp-controller="Administration" asp-action="CreateCoach">Create Coach</a>
</div>